src/main/resources/spring-ws/wsService.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://com.tb.commpt/ws/commService"
           version="1.0.0">
    <xs:element name="webserviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jsonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="webserviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jsonResponse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>